@{
    ViewData["Title"] = "المسؤولون";
}

@section Css{
    <style>
        .active > .page-link {
            color: #ffffff !important;
            background-color: #8b8b8b !important;
            border-color: #dfdfdf !important;
        }
    </style>
}

<div class="row">
    <div class="col-12">
        <div class="card mb-4">
            <div class="card-header pb-0">
                <div class="row">
                    <div class="col-md-9">
                        <h3 class="text-info">
                            أنواع الحجوزات في النظام
                        </h3>
                    </div>
                    <div class="col-md-3 text-start">
                        <a class="btn bg-gradient-info PopUp" href="javascript:void(0)" 
                           data-title="إضافة نوع حجز جديد"
                           data-link="/AppointmentTypes/CreateOrEdit">إضافة جديد</a>
                    </div>
                </div>
            </div>
            <div class="card-body p-3">
                <table class="table align-items-center mb-0" id="dataTableId">
                    <thead>
                        <tr>
                            <th class="text-secondary text-xxl-end font-weight-bolder ">نوع الحجز</th>
                            <th class="text-secondary text-xxl-end font-weight-bolder ">ملاحظات</th>
                            <th class="text-secondary opacity-7"></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section Scripts{

    <script>

        $(function () {
            $(".DTForm").submit(function () {
                BindDataTable();
                return false;
            });
            BindDataTable();
        });

        $(document).on("click", ".SearchBtn", function () {
            BindDataTable();
        });

        function BindDataTable() {
            oTable = $('#dataTableId').dataTable({
                language: {
                    aria: {
                        sortAscending: ": فعال لترتيب العمود تصاعديا",
                        sortDescending: ": فعال لترتيب العمود تنازليا"
                    },
                    emptyTable: "لا يوجد بيانات لعرضها",
                    info: "عرض _START_ الى _END_ من _TOTAL_ صف",
                    infoEmpty: "لا يوجد نتائج لعرضها",
                    infoFiltered: "(filtered1 من _MAX_ اجمالي صفوف)",
                    lengthMenu: "_MENU_",
                    search: "بحث",
                    zeroRecords: "لا يوجد نتائج لعرضها",
                    paginate: {
                        sFirst: '<i class="fa fa-fw fa-angle-double-right">',
                        sLast: '<i class="fa fa-fw fa-angle-double-left">',
                        sNext: '<i class="fa fa-fw fa-angle-left">',
                        sPrevious: '<i class="fa fa-fw fa-angle-right">',
                    }
                },
                "dom":
                    "<'row'<'col-sm-12'tr>>" +
                    "<'row'<'col-sm-4'i><'col-sm-4 text-center'l><'col-sm-4'p>>",
                "iDisplayLength": 10,
                "sPaginationType": "full_numbers",
                "bFilter": false,
                "bDestroy": true,
                "bSort": false,
                "bStateSave": false,
                "bLengthChange": true,
                "columnDefs": [{
                    "orderable": false
                }],
                scrollY: '500px',
                scrollCollapse: true,
                //"bSort": false,
                serverSide: true,
                columns: [
                    //{
                    //    "render": function (data, type, row) {
                    //        return '<span class="badge badge-sm bg-gradient-success">' + row["TypeName"] + '</span>';
                    //    }
                    //},
                    {
                        "render": function (data, type, row) {
                            return '<b>' + row["TypeName"] + '</b>';
                        }
                    },
                    { data: 'Note' },
                    {
                        name: 'buttons', "render": function (data, type, row) {
                            return ''
                                + '<a href="javascript:void(0)" data-title="تعديل نوع الحجز" data-link="/AppointmentTypes/CreateOrEdit?id=' + row["Id"] + '" class="PopUp text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user"><i class="fa fa-edit fa-lg"></i></a>'
                                + '<a href="javascript:void(0)" data-link="/AppointmentTypes/Delete/' + row["Id"] + '" tname="#dataTableId" class="Confirm text-secondary font-weight-bold text-danger text-xs me-2" data-toggle="tooltip" data-original-title="Edit user"><i class="fa fa-trash fa-lg"></i></a>';
                        }
                    }
                ],
                ajax: {
                    type: "POST",
                    contentType: "application/json",
                    url: '/AppointmentTypes/GetAll',
                    data: function (d) {
                        d.SearchKey = ($("[name=SearchKey]").val());
                        return JSON.stringify(d);
                    }
                }
            });
        }

    </script>

}
