@model Clinic.Web.Models.ViewModels.PatientVM
@{
    ViewData["Title"] = "Create";
    Layout = null;
}
<style>
    .modal-xl {
        max-width: 40%;
    }
</style>
<form asp-action="CreateOrEdit" method="post" class="ajaxForm" tname="#dataTableId">
    <input type="hidden" value="@Context.Request.Query["id"]" name="id" />
    <div class="row">
        <div class="col-md-4 text-right">
            <div class="form-group">
                <label asp-for="PatientItem.UserName" class="control-label"></label>
                <input asp-for="PatientItem.UserName" class="form-control rounded" />
                <span asp-validation-for="PatientItem.UserName" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4 text-right">
            <div class="form-group">
                <label asp-for="PatientItem.Password" class="control-label"></label>
                <input asp-for="PatientItem.Password" class="form-control rounded" />
                <span asp-validation-for="PatientItem.Password" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4 text-right">
            <div class="form-group">
                <label asp-for="PatientItem.IsActive" class="control-label"></label>
                <div class="form-check form-switch">
                    <input asp-for="PatientItem.IsActive" class="form-check-input" type="checkbox">
                </div>
                <span asp-validation-for="PatientItem.IsActive" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 text-right">
            <div class="form-group">
                <label asp-for="PatientItem.FullName" class="control-label"></label>
                <input asp-for="PatientItem.FullName" class="form-control rounded" />
                <span asp-validation-for="PatientItem.FullName" class="text-danger"></span>
            </div>
        </div>
    </div>
    <hr class="horizontal dark my-sm-4">
    <div class="form-group">
        <button type="submit" class="btn bg-gradient-info rounded">حفظ التغيرات</button>
        <button type="button" class="btn bg-gradient-secondary rounded" data-bs-dismiss="modal">اغلاق</button>
    </div>
</form>

<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>