@{
    ViewData["Title"] = "AccessDenied";
    Layout = "_Layout_Auth";
}

<section>
    <div class="page-header min-vh-75">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-5 col-md-6 d-flex flex-column mx-auto">
                    <div class="card card-plain mt-8">
                        <div class="card-body">
                            <h1 class="text-danger">AccessDenied</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


